.header__nav{
    display: flex;
    overflow: hidden;
}

.header__logo{
    flex : 1;
    padding: 1.25rem;
    position: relative;
}

.header__logo-overlay{
    position: absolute;
    background-color: var(--primary-color);
    inset: 0;
    z-index: -1;
}

.header__logo h4{
    color: #fff;
    text-transform: uppercase;
    font-family: var(--playfair-display);
    font-size: 1.6rem;
    margin-left: 2rem;
}

.header__menu{
    display: flex;
    list-style: none;
    font-family: var(--plus-jakarta-sans);
    font-weight: 500;
    padding: 20px;
    gap: 4rem;
    justify-content: end;
    flex: 1.25;
}

.header__menu a{
    text-decoration: none;
    text-transform: uppercase;
}
